<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name Letters</title>
</head>

<body>
  <!-- Write your code here -->
   <%if(locals.letterare){ %>
    <h1>the name consist <%= letterare %>  in your name </h1>
    <% } else {%>
      <h1>
        PLEASE ENTER THE DETALS TO CHECK THE LENGTH
      </h1>
      <% } %>
  <form action="/submit" method="POST">
    <input type="text" name="fName" placeholder="First name" id="fName">
    <input type="text" name="lName" placeholder="Last name" id="lName">
    <input type="submit" value="OK">
  </form>
</body>

</html>